body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.eventDetails {
    background-color: gainsboro;
}

.scrollTable {
    overflow-y: scroll;
    height: 200px;
}        

.btn {
    background-color: #4CAF50;
    color: white;
    /* padding: 12px; */
    /* margin: 10px 0; */
    border: none;
    /* width: 100%; */
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

input, textarea {
    width:90%;
    height:30px;
    /* background:#efefef;
    border:1px solid #dedede; */
    padding:10px;
}
